
a{
    text-decoration: none;
    color: #2B4362;
}

.my-pop-up__autorizade input{
    font-family: 'Manrope', sans-serif;
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: rgba(43, 67, 98, 1);;
    /* font-size: calc(12px + 4 * (100vw / 1400)); */
    font-size: 16px;
    outline: none;
    opacity: 1;
    -webkit-appearance: none;  /* убирает стандартные стили для iphone */
}

.my-pop-up__autorizade input:-moz-placeholder {
    color: rgba(43, 67, 98, 0.78);
}
.my-pop-up__autorizade input::-webkit-input-placeholder {
    color: rgba(43, 67, 98, 0.78);
}

.my-pop-up__autorizade input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0) !important; /* Цвет фона */
	-webkit-text-fill-color: rgba(43, 67, 98, 0.78) !important; /* цвет текста */
	color: rgba(43, 67, 98, 0.78) !important; /* цвет текста */
}

@-webkit-keyframes autofill {
	to {
		color: inherit;
		background: transparent;
	}
}

.my-pop-up__autorizade input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

.my-pop-up__autorizade input[type='submit']{
    display: none;
}

.color-red{
    color: red;
}

.my-pop-up__autorizade{
    font-weight: 400;
    color: #2B4362;
    font-family: 'Manrope', sans-serif;
    font-size: calc(12px + 2 * (100vw / 1400));
}

/* body{
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #2B4362;
    padding: 53px 0;
} */

body{
    position: relative;
}

#section__pop-up__login,
#section__pop-up__registration,
#section__pop-up__remember-pass{
    visibility: hidden;
    display: none;
}


.my-pop-up__autorizade{
    width: 100%;
    height: calc(100%);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 67, 98, 0.8);
    z-index: 9999999;
    opacity: 0;
    transition: opacity .5s ease-in;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

.my-pop-up__autorizade__wrapper{
    padding: 5% 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.form{
    width: 421px;
    background: #FFFFFF;
    border-radius: 7px;
    width: 421px;
    background: #FFFFFF;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto auto 40px auto;
    box-sizing: border-box;
    position: relative;
}

.form__wrapper{
    width: 100%;
    padding: 24px 41px;
    box-sizing: border-box;
}

.form__title{
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.close__pop-up{
    width: 15px;
    height: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close__pop-up::after,
.close__pop-up::before{
    content: '';
    position: absolute;
    background-color: #2B4362;
    width: 100%;
    height: 1px;
}

.close__pop-up::after{
    transform: rotate(45deg);
}

.close__pop-up::before{
    transform: rotate(-45deg);
}

.form__title h1{
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-size: calc(30px + 10 * (100vw / 1400));
    color: #2B4362;
}

.form__title.title_remember_pass h1{
    font-size: calc(15px + 10 * (100vw / 1400));
}

.ask-account{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 28px;
}

.ask-account button{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.ask-account p,
.ask-account a,
.ask-account button{
    font-weight: 500;
    line-height: 19px;
}

.ask-account a,
.ask-account button,
.form-enter__remember-pass a{
    position: relative;
}

.ask-account a:hover,
.ask-account button:hover
.form-enter__remember-pass a{
    opacity: 0.8;
}

.ask-account a::after,
.ask-account button::after,
.form-enter__remember-pass a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2B4362;
}

.ask-account a:hover::after,
.ask-account button:hover::after,
.form-enter__remember-pass a:hover::after{
    -moz-animation: border__width .5s ease-in;
    -o-animation: border__width .5s ease-in;
    -webkit-animation: border__width .5s ease-in;
    animation: border__width .5s ease-in;
}

#form-registration,
#form-enter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 21px;
}

/* section all input form */
.section-all-input{
    width: 100%;
    position: relative;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.section-all-input:last-of-type{
    margin-bottom: 0;
}

.section-all-input__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(43, 67, 98, 0.24);
    border-radius: 2px;
}

.error-border .section-all-input__wrapper{
    border-bottom: 1px solid red;
}

.section-all-input img{
    margin-right: 9px;
}

.section-all-input img + input[type='password']{
    margin-left: 2px;
}
.section-all-input input{
    width: 100%;
    padding: 10px 0;
}

.section-all-input label{
    position: absolute;
    padding: 5px 0;
    font-size: calc(10px + 2 * (100vw / 1400));
    color: rgba(43, 67, 98, 0.78);
    opacity: 0;
    left: 22px;
    top: 0;
    transition: all .5s ease-in;
}

.section-all-input label.active-field-input{
    opacity: 1;
    top: -10px;
    transition: all .5s ease-in;
}

.section-all-input.input-nic-name  label.active-field-input{
    left: 0;
}

.section-all-input input::placeholder{
    opacity: 1;
    color: #848181;
    font-size: calc(12px + 4 * (100vw / 1400));
}

input.input-mail-error,
input.input-pass-error__message,
input.input-nic-error__message,
input.input-pass-error__message,
input.input-pass-repeat-error__message{
    border-color: red;
    color: red;
    transition: all .2s ease-in;
}


.section-all-input .input-mail-error__message,
.section-all-input .input-pass-error__message,
.section-all-input .input-nic-error__message,
.section-all-input .input-pass-error__message,
.section-all-input .input-pass-repeat-error__message{
    display: none;
    visibility: hidden;
    opacity: 0;
}

.section-all-input .input-mail-error__message p,
.section-all-input .input-pass-error__message p,
.section-all-input .input-nic-error__message p,
.section-all-input .input-pass-error__message p,
.section-all-input .input-pass-repeat-error__message p{
    font-size: calc(10px + 2 * (100vw / 1400));
    color: red;
    padding: 4px 0;
}

.form-submit label{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.form-submit label p{
    font-size: calc(14px + 4 * (100vw / 1400));
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.form-submit label p::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.form-submit label p:hover::after{
    -moz-animation: border__width .5s ease-in;
    -o-animation: border__width .5s ease-in;
    -webkit-animation: border__width .5s ease-in;
    animation: border__width .5s ease-in;
}

.form-messanger{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 34px;
}

.form-messanger__title{
    margin-bottom: 13px;
}

.form-messanger__title p{
    font-weight: 500;
    font-size: 14px;
    font-size: calc(12px + 2 * (100vw / 1920));
}

.form-messanger__radio{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.form-messanger__radio__item input{
    display: none;
}

.form-messanger__radio__item label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.form-messanger__radio__item label p{
    padding-left: 22px;
}

.form-messanger__radio__item{
    margin-right: 24px;
    position: relative;
}

.form-messanger__radio__item:last-of-type{
    margin-right: 0;
}

.form-messanger__radio__item label::after{
	content: "";
	position: absolute;
	left: 0;
	top: calc(50% - 7.5px);
	outline: none;
	border: 1px solid #2B4362;
	border-radius: 0;
	/* -webkit-appearance: button; */
	width: 15px;
    height: 15px;
    border-radius: 50%;
	box-sizing: border-box;
	background-color: transparent;
}

.form-messanger__radio__item input[type="radio"]:checked + p::before{
    position: absolute;
	content: "";
	width: 7px;
	height: 7px;
	left: 4px;
	top: calc(50% - 3.5px);
    background-color: #B2D9DB;
    border-radius: 50%;
	z-index: 999;
}
.form-btn-sbm,
.form-btn-sbm label{
    width: 100%;
}
.form-btn-sbm label p{
    width: 100%;
    padding: 13px;
    background: #B2D9DB;
    border-radius: 4px;
    font-weight: 600;
    font-size: calc(14px + 4 * (100vw / 1920));
    color: #2B4362;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.form-btn-sbm label p:hover{
    opacity: 0.8;
}

.look-for-social{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.look-for-social__title{
    width: 100%;
    margin-bottom: 19px;
}

.look-for-social__title p{
    font-weight: 500;
    font-size: calc(12px + 2 * (100vw / 1400));
    color: rgba(43, 67, 98, 0.26);
    text-align: center;
}

.look-for-social__items{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.look-for-social__item{
    margin-right: 15px;
}

.look-for-social__item:last-of-type{
    margin-right: 0;
}

.look-for-social__item a{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid rgba(96, 140, 175, 0.19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.look-for-social__item a:hover{
    opacity: 0.8;
}

.form-enter__remember-pass{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 19px;
}

body.show-pop-up-registration,
body.show-pop-up-enter,
body.show-pop-up-remember-pass{
    overflow-y: hidden;
}

/*************************************************************************************** 

                                                        media screen max-width: 540px 

***************************************************************************************/
@media screen and (max-width: 540px){
    .header-logo{
        margin-bottom: 10px;
    }

    .form{
        width: calc(100% - 40px);
    }
    
    .form__wrapper{
        padding: 12px 15px;
    }
}

/* animation */
@-moz-keyframes border__width{
	0%{
		width: 0;
	}

	100%{
		width: 100%;
	}
}
@-ms-keyframes border__width{
	0%{
		width: 0;
	}

	100%{
		width: 100%;
	}
}
@-o-keyframes border__width{
	0%{
		width: 0;
	}

	100%{
		width: 100%;
	}
}
@-webkit-keyframes border__width{
	0%{
		width: 0;
	}

	100%{
		width: 100%;
	}
}
@keyframes border__width{
	0%{
		width: 0;
	}

	100%{
		width: 100%;
	}
}